	Weather Station/build/classes/.netbeans_automatic_build
	Weather Station/build/classes/.netbeans_update_resources
	Weather Station/build/classes/WeatherData$1.class
	Weather Station/build/classes/weather/station/Day.class
	Weather Station/build/classes/weather/station/MainDisplay$16.class
	Weather Station/build/classes/weather/station/MainDisplay$17.class
	Weather Station/build/classes/weather/station/MainDisplay.form
	Weather Station/build/classes/weather/station/Month.class
	Weather Station/build/classes/weather/station/WeatherData$1.class
	Weather Station/build/classes/weather/station/WeatherData.class
	Weather Station/build/classes/weather/station/Year.class
	Weather Station/build/classes/weather/station/jars/
	Weather Station/build/classes/weather/station/wItem.class
/Weather Station/dist/